<main id="main" role="main">
  <!-- <div class="headline_cycle"> -->
    <!-- <div class="headline_cycler_centralizer"> -->
      <div class="col-lg-12 headline_cycle">
        <header class="head-page">
          <h1>Taste</h1>
          <p class="sub-heading">Our Gourmet Cooking Sauces and Tapenade<br>
          Gluten Free and Made From Fresh Ingredients.</p>
        </header>
        <p><span><a class="brand-color" href="about.html">Read More</a></span></p>
      </div>
    <!-- </div> -->
  <!-- </div> -->
</main>
<!-- end main content -->
<div class="slideshow">
  <div class="slideset">
    <div class="slide bg-stretch"> <%= image_tag("fullhome1.jpg", alt: "image description", size: "1600x1083")%><!-- <img src="fullhome1.jpg" height="1083" width="1600" alt="image description">  --></div>
    <div class="slide bg-stretch"> <%= image_tag("fullhome5.jpg", alt: "image description", size: "1600x1083")%><!-- <img src="fullhome2.jpg" height="1226" width="1600" alt="image description"> --> </div>
  </div>
</div>
